<h1>Listing recipes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Notes</th>
    <th>Ingredients</th>
		<th>Yield</th>
    <th>Directions</th>
    <th>Category</th>
  </tr>

<% @recipes.each do |recipe| %>
  <tr>
    <td><%=h recipe.name %></td>
    <td><%=h recipe.notes %></td>
		<td><%=h recipe.ingredients %></td>
    <td><%=h recipe.yield %></td>
    <td><%=h recipe.directions %></td>
    <td><%=h recipe.category.name %></td>
    <td><%= link_to 'Show', recipe %></td>
    <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
    <td><%= link_to 'Destroy', recipe, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New recipe', new_recipe_path %>