<div id="bookmark">
	<%= image_tag("bookmarkFrill.png")%>
	<%= image_tag("bookmarkNoFrill.png", :id=> "bookmarkNoFrill", 
		:onmouseover => "revealBookmark(event)", :onmouseout => "concealBookmark(event)") %>
	<div id="bookmark_menu">
		<%= link_to "Introduction", {:controller => "introduction", :action => "preface"} %><br />
		<%= link_to "Recipe Browser", recipes_browser_path %><br />
		<%= link_to "Out of the Ordinary", recipes_browser_path %><br />
		<%= link_to "Russian Jewish Cuisine", recipes_browser_path %><br />
	</div>
</div>

