<div id="bookmark">
	<%= image_tag("bookmarkFrill.png")%>
	<%= image_tag("bookmarkNoFrill.png", :id=> "bookmarkNoFrill", 
		:onmouseover => "revealBookmark(event)", :onmouseout => "concealBookmark(event)") %>
	<div id="bookmark_menu">
		<%= params[:controller] == 'introduction' ? "<a id='selected' " : "<a " %>href="www.google.com">Introduction</a> <br />
		<%= params[:controller] == 'recipes' ? "<a id='selected' " : "<a " %>href="www.google.com">Recipe Browser</a> <br />
		<%= params[:controller] == 'notOrdinary' ? "<a id='selected' " : "<a " %>href="www.google.com">Out of the Ordinary</a> <br />
		<%= params[:controller] == 'russianJewish' ? "<a id='selected' " : "<a " %>href="www.google.com">Russian Jewish Cuisine</a>
	</div>
</div>

